{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  },
  "plugins": ["react"],
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "globals": {
    "Meteor": true,
    "document": true,
    "describe": true,
    "it": true
  },
  "rules": {
    "react/prop-types": 0
  }
}
